*{
    margin: 0;
    padding: 0;
}

html,body{
    width: 100%;
    height: 100%;
}

:focus-visible {
    outline:none;
}

.el-input{
    height: auto;
}
.el-select{
    width: 100%;
}
.el-input__wrapper{
    width: 100%;
    height: 40px;
    background: #ffffff;
    border: 1px solid #dcdfe6;
    border-radius: 6px;
    box-shadow: 0px 1px 20px 0px rgba(0,0,0,0.05); 
}

.el-form{
    .el-form-item {
        .el-form-item__label{
            font-size: 16px;
            font-family: PingFang SC, PingFang SC-Medium;
            font-weight: 500;
            text-align: left;
            color: #000000;
            line-height: 22px;
        }
    }
}

.el-drawer{
    .el-drawer__header{
        padding: 20px;
        border-bottom: 1px solid #e4e8eb;
        margin-bottom: 0;
        .el-drawer__title{
            font-size: 16px;
            color: #000000;
            font-weight: bold;
        }
    }
    .el-drawer__body{
        .el-form{
            .el-form-item {
                .el-form-item__label{
                    font-size: 14px;
                    font-family: PingFang SC, PingFang SC-Medium;
                    font-weight: 500;
                    text-align: left;
                    color: #000000;
                    line-height: 22px;
                }
            }
        }
    }
}

.el-table{
    .el-table__header {
        .el-table__cell{
            padding: 20px 0;
            .cell{
                font-size: 14px;
                font-family: PingFang SC, PingFang SC-Medium;
                font-weight: 500;
                text-align: center;
                color: #000000;
                line-height: 22px;
            }
        }
    }
    .el-table__body {
        .el-table__cell{
            padding: 20px 0;
            .cell{
                font-size: 14px;
                font-family: PingFang SC, PingFang SC-Regular;
                font-weight: 400;
                text-align: center;
                color: #656e76;
                line-height: 22px;
                .table-row-action{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 10px;
                    font-size: 14px;
                    cursor: pointer;
                    .action{
                        color: #656e76;
                        text-decoration: underline;
                    }
                    .delete{
                        color: #656e76;
                        text-decoration: underline;
                    }
                  }
            }
        }
    }
}

.el-pagination.is-background .btn-next.is-active, .el-pagination.is-background .btn-prev.is-active, .el-pagination.is-background .el-pager li.is-active{
    background: #000;
}

.el-message-box{
    .el-message-box__btns{
        .el-button{
            border-color:none;
            &:hover{
                outline: none;
                // border-color:
                // background-color:
            }
            &:focus-visible{
                outline: none;
            }
        }
        .el-button--primary{
            background-color: #000000;
        }
    }
}

.el-message--success{
    background: #efeff8;
    border: 1px solid #767ffc;
    border-radius: 6px;
    top: 30px;
    left: auto;
    right: 30px;
    transform: none;
    .el-icon{
        color: #767ffc;
    }
    .el-message__content{
        color: #767ffc;
    }
}

.el-message--error{
    background: #f4dcdc;
    border: 1px solid #EF3333;
    border-radius: 6px;
    top: 30px !important;
    left: auto;
    right: 30px;
    transform: none;
    .el-icon{
        color: #EF3333;
    }
    .el-message__content{
        color: #EF3333;
    }
}

.el-dropdown-menu{
    .el-dropdown-menu__item:not(.is-disabled){
        &:focus{
            background-color:#ebecfa !important;
            color:#767ffc !important;
        }
    }
}
